<div class="container">
  <div class="row">
    <div class="col d-md-flex justify-content-between align-items-center">
      <div class="fw-bold fs-5 mb-4 text-center mb-md-0">Angular app</div>
      <div class="text-center d-flex align-items-center flex-column flex-md-row gap-1">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          matTooltip="Info about the action"
        >
          Menu
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            routerLink="departments"
            routerLinkActive="active"
          >
            Departments
          </button>
          <button mat-menu-item [routerLink]="['employees']">Employess</button>

          <button mat-menu-item [routerLink]="['/']">Home</button>
          <button mat-menu-item>Contacts</button>
        </mat-menu>

        <button mat-button [routerLink]="['products']">Products</button>
        <button mat-button routerLink="login">Login</button>
        <button mat-button color="primary" routerLink="/">Material UI</button>
        <button mat-button color="accent" routerLink="task-tracker">
          Task Tracker
        </button>
        <button mat-stroked-button routerLink="register">Register</button>
      </div>
    </div>
  </div>
</div>
