<div>
  <h1>Angular app</h1>
  <button
    mat-button
    [matMenuTriggerFor]="menu"
    matTooltip="Info about the action"
  >
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [routerLink]="['/']">Products</button>
  <button mat-button>About</button>
  <button mat-button>Blog</button>
  <button mat-button>Faq</button>
  <button mat-button>Contacts</button>
  <button mat-button routerLink="register">Register</button>
  <button mat-button routerLink="login">Login</button>

  <nav>
    <a mat-button color="primary" routerLink="material-ui">Material UI</a>
    <a
      mat-button
      color="primary"
      routerLink="departments"
      routerLinkActive="active"
      >Departments</a
    >
    <a mat-button color="primary" routerLink="employees">Employess</a>
    <a mat-button color="accent" routerLink="task-tracker">Task Tracker</a>
  </nav>
</div>
