:host {
  display: block;
  padding: 4rem 0;
}

button {
  margin: 1rem;
}

div {
  margin: 1rem 0;
}

.badge div {
  margin: 2rem;
}

.navbar {
  justify-content: space-between;
}

.navbar span {
  padding-right: 1rem;
}
