<div class="container">
  <mat-grid-list
    [cols]="windowWidth > 600 ? 4 : 2"
    rowHeight="200px"
    gutterSize="15"
  >
    <mat-grid-tile
      *ngFor="let tile of tiles; let i = index"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [routerLink]="['product', tile.id]"
      [ngClass]="tile.class"
    >
      <div class="box-text">{{ tile.text }}</div>
    </mat-grid-tile>
  </mat-grid-list>

  <app-user-list
    [users]="users"
    (onRemoveUser)="removeUser($event)"
    (onAddUser)="addUser($event)"
  ></app-user-list>
</div>

<div class="spinner" *ngIf="showSpinner">
  <mat-spinner color="accent"></mat-spinner>
</div>
