<label for="box">User Name</label>
<input #box id="box" type="text" (keyup.enter)="addUser(box.value); box.value=''" (blur)="addUser(box.value); box.value=''">
<div *ngIf="errorMessage" class="msg error">{{ errorMessage }}</div>
<button class="btn primary" (click)="addUser(box.value)">Add User</button>

<div *ngFor="let user of users" class="list-item">
    <div class="info" (click)="openModal(modal, user)" title="Click to Edit">{{ user.name }}</div>
    <button class="btn danger" (click)="removeUser.emit(user.id)">Remove</button>

</div>

<dialog #modal>
    <h2>Edit User</h2>
    <input type="text">
    <div class="buttons">
        <button class="btn bg-gray" (click)="closeModal(modal, $event)">Cancel</button>
        <button class="btn bg-blue" (click)="closeModal(modal, $event)">Save</button>
    </div>
</dialog>